.grid {
    width: 100%;
    position: relative;
    height: 150px;
    cursor: pointer;
    margin: 2% 0;
}

.grid:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.file-content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    max-width: 180px;
    min-width: 100px;
    background-color: white;
    line-height: 24px;
    z-index: 3;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.file-name {
    display: flex;
    align-items: center;
}

img {
    border: 5px solid white;
    max-height: 150px;
    border-radius: 25px 0 0 0;
}