.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-style: italic;
    font-size: 3rem;
    color: rgb(57, 77, 92);
}

.col-12 {
    font-size: 2rem;
}

.container {
    padding-top: 15px;
}