.title{
    color: rgba(0, 0,0, 0.54); 
    font-weight: 500;
    padding: 8px 0px 16px;
    margin: 0 0 0 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 3%;

}

.body {
    width: 90%;
    align-content: center;
    position: absolute;
    left: 100px;
    top: 150px;
}

.content {
    width: 80%;
    // text-align: center;
}

img {
    width: 20%;
    height: 20%;
    text-align: center;
}