.title{
    color: rgba(0, 0,0, 0.54); 
    font-weight: 500;
    padding: 8px 0px 16px;
    margin: 0 0 0 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    font-size: 17px;
    margin-top: 3%;

}



.file-format{
    cursor: pointer;
}
