/* You can add global styles to this file, and also import other style files */

.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 50vw;
    font-weight: 200;
    height: 300px;
    border: 2px solid lightblue;
    border-radius: 5px;
    background: rgb(102, 101, 101);
    margin: 10px 0;
}

.dropzone.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
}

.dropzone .file-label {
    font-size: 1.2em;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.row {
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}