<upload-task></upload-task>
<div class="row">
    <div class="col-sm-3">
        <h1>Drop down files here</h1>
        <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
            <p>Drag and Drop Files Here</p>
            <mat-icon>system_update_alt</mat-icon>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
</div>
<h3>Uploads</h3>
<div *ngFor="let file of files">
    <upload-task [file]="file"></upload-task>
</div>