<div class="container" style="margin-top: 30px;">
    <div class="row align">
        <div class="logo col-12 col-sm-10 col-md-8 align ">
            <img src="../../../assets/universe.svg" width="15%" alt="Logo">USpace
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-sm-10 col-md-6">
            <mat-tab-group color="warn" mat-align-tabs="center">
                <mat-tab label="Sign in">
                    <app-login-tab></app-login-tab>
                </mat-tab>
                <mat-tab label="Sign up">
                    <app-sign-up></app-sign-up>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col"></div>
    </div>
</div>