.folder {
    border: 1px solid rgb(212, 210, 210);
    border-radius: 0 20px 0 0;
}

.grid {
    display: inline-flex;
    margin: 1%;
    width: 210px;
    padding: 0;
    border-radius: 0 20px 0 0;
}

.grid:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

* {
    color: rgb(57, 77, 92);
}