<!-- <app-breadcrumb></app-breadcrumb> -->
<!-- <uploader></uploader> -->
<mat-list *ngIf="folders != null" (click)='openFolder()' style="padding: 0;" class="grid">
    <div style="width: 245px;height: auto;display: flex;">
        <mat-list-item class="folder">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{folders}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="numberOfModify != null">
            Modify {{numberOfModify}} time
            <!-- <div mat-line></div> -->
        </mat-list-item>
    </div>
</mat-list>