<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav class="side-bar" #sidenav (keydown.escape)="close('escape')" disableClose>
        <!-- custom here -->
        <div style="justify-content: left; margin:10px 0 ;" class="align">
            <mat-icon (click)="close( 'toggle button')" style="margin:0 20px;">keyboard_arrow_left
            </mat-icon>
            <div class="user-icon">
                <img [src]="authService.user.photoURL"> {{authService.user.displayName}}
            </div>
        </div>
        <div class="search">
            <input class="form-control mr-sm-2 min" type="search" placeholder="Search" aria-label=" Search ">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Search</button>
        </div>
        <app-side-bar (navigateTo)="navigated($event)" (click)="close( 'toggle button');"></app-side-bar>
        <!-- custom here -->
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- PC display -->
        <app-nav-bar (onShowMenu)="sidenav.open() "></app-nav-bar>
        <div *ngIf="screenWidth >=768" class="container ">
            <div class="row">
                <div class="col-md-3 col-xl-3" style="padding:0">
                    <!-- <div class="btn1">
                        <button mat-raised-button [matMenuTriggerFor]="menu" class="New" style="display:flex;justify-content:center">
                            <mat-icon>add</mat-icon>
                        New</button>

                        <mat-menu #menu="matMenu">
                            <button style="outline: none;" mat-menu-item>Create folder</button>
                            <button style="outline: none;" mat-menu-item>Upload file</button>
                        </mat-menu>
                    </div> -->

                    <app-side-bar (navigateTo)="navigated($event)"></app-side-bar>
                </div>
                <div class="col-md col-xl overflow">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- Mobile display -->
        <div *ngIf="screenWidth <768" class="overflow">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>