    .mat-elevation-z6 {
        display: flex;
        justify-content: space-between;
    }
    
    .example-full-width {
        width: 40%;
    }
    
    .logo {
        width: 60px;
        height: 57px;
    }
    
    .logo_name {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    
    .inputcenter {
        display: flex;
        align-items: center;
    }
    
    .inputcenter input:focus {
        outline: none;
        background-color: none;
    }
    
    .inputcenter input {
        font-size: 15px;
        width: 35vw;
        border-style: none;
    }
    
    .search {
        position: absolute;
        left: 30vw;
        width: 40vw;
        top: 0px;
        z-index: 1000;
        // width: 300px;
    }
    
    div .mat-form-field-infix {
        border-style: none !important;
    }
    
    .mat-toolbar {
        position: fixed;
        top: 0px;
        z-index: 5;
    }