<mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. pat@example.com">

        </mat-form-field>
    </form>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>apps</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>