<mat-toolbar *ngIf="auth.user!=null" class="mat-elevation-z6" color="pirmary" style="background-color: white; border-bottom-style: solid;border-color: whitesmoke;border-width: 2px;">

    <div class="logo_name">
        <img src="../../../assets/logo.png" alt="logo" class="logo">
        <span class="logo_name">USpace</span>
    </div>


    <mat-form-field class="example-full-width" style="position: relative;">
        <div>
            <mat-icon style="position: absolute; top: 12px;left: -25px;">search</mat-icon>
        </div>

        <mat-label> </mat-label>
        <input matInput placeholder="Type name file" class="input">
    </mat-form-field>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon">
          <mat-icon>apps</mat-icon>
        </button>


        <button *ngIf="auth.user==null" mat-raised-button (click)="this.auth.loginGoogle() ">Sign in with Google</button>
        <button class="khung_avatar" *ngIf="auth.user!=null" mat-raised-button [matMenuTriggerFor]="menu">
          <img *ngIf="auth.user!=null" class="avatar" [src]='auth.user.photoURL'>
          
        </button>


    </div>

</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="this.auth.Logout()">
<mat-icon>login</mat-icon>
<span>Logout</span>
</button>
</mat-menu>