<div *ngIf="percentage | async as pct">
    <progress [value]="pct" max="100"></progress> {{ pct | number }}%
</div>

<div *ngIf="snapshot | async as snap">

    <strong>{{ snap.bytesTransferred }} of {{ snap.totalBytes }} Bytes</strong>
    <div *ngIf="downloadURL as url">
        <h3>Result</h3>
        <img [src]="url" style="width: 150px;height: 150px; border-radius: 15px;"><br>
    </div>

</div>
<!-- <h3>Result now </h3>
<div class="row">
    <div class="col-sm-2" *ngFor="let list of listitem">
        <div style="cursor: pointer;">
            <img [src]="list.downloadURL" alt="" style="width: 150px;height: 150px; border-radius: 15px;">
            <div class="row" style="margin-top: 5%;">
                <span><strong>{{list.name}}</strong></span>
                <span> 
                    <mat-icon>
                    <a [href]="list.downloadURL" target="_blank" rel="noopener">get_app</a>
                </mat-icon>
                </span>
            </div>
        </div>
    </div>
</div> -->