<div class="main" style="text-align: center; ">
    <div class="header">
        <img class="Hinh" src="../../../assets/universe.svg" alt="">
        <p class="Name">USpace</p>
    </div>

    <div style="display: flex; justify-content: center; padding-bottom: 5%;" >

        <div class="Khung">

            <div>
                <mat-form-field appearance="fill" class="email">
                    <mat-label>Email</mat-label>
                    <input matInput>
                    <mat-icon class="icon">email</mat-icon>
                </mat-form-field>
                <br>



                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                <section class="tick">
                    <mat-checkbox class="example-margin">Keep me signed in</mat-checkbox>
                </section>
                <div class="login">

                    <button mat-raised-button  class="btnlogin">Sign in</button>
                    <button mat-raised-button  class="btnlogin" (click)="this.auth.loginGoogle()">Sign in with Google</button>
                </div>
                <a class="link" href="">Create new account</a>
                <p><a class="link" href="">Forgot your password</a></p>
            </div>


        </div>

    </div>


</div>

<!-- <div class="main">
    <p class="sign" align="center">Sign in</p>
    <input class="un " type="text" align="center" placeholder="Username">
    <input class="pass" type="password" align="center" placeholder="Password">
    <a class="submit" align="center">Sign in</a>
    <img src="../../../assets/btn_google_signin_dark_pressed_web@2x.png">
    <p class="forgot" align="center"><a href="#">Forgot Password</a></p>


</div> -->