<mat-list-item *ngIf="thumbnails != null">
    <div >
        <mat-card class="example-card" style="width:100%;">
            
            <img mat-card-image src={{thumbnails.pictureURL}}>
            
            <div style="display:flex; flex-direction: row;">
                 <mat-divider></mat-divider>
                <mat-list-item >
                    <mat-icon mat-list-icon>{{thumbnails.icon}}</mat-icon>
                    <div>
                        <mat-card-title mat-line>{{thumbnails.name}}</mat-card-title>
                    <div mat-line> {{thumbnails.createDate|date}} </div>
                    </div>
                </mat-list-item>
            </div>
        </mat-card>
    </div>
</mat-list-item>