.body{
    display: flex;
    justify-content: center;
    width: 90%;
    align-content: center;
    // flex-direction: column;
}

.content{
    width: 80%;
    // text-align: center;
}

img{
    width:20%; 
    height: 20%;
}