<div style="width: 90%; margin-left: 5%;">
    <div class="body">
        <img class="image" src="../../../assets/trash.svg" >
    </div>
    <div class="body">
    <div class="contents">
        <p role="heading">Không có tệp hoặc thư mục nào trong Thùng rác.</p>
        <p class="ab-S-Sg">Chuyển những tệp bạn không còn cần nữa vào 
            <b>Thùng rác</b>. Nhấp "Dọn sạch thùng rác" từ menu Thùng rác để xóa vĩnh viễn các mục và có thêm không gian bộ nhớ. 
            <span class="Oh-Ma-A kc-A" data-target="showHelp" data-help-topic="trash_ww_new" role="link" tabindex="0">Tìm hiểu thêm</span>
        </p>
    </div>
</div>
</div>