#breadcrumb {
    width: 100%;
    padding: 1%;
    display: flex;
    overflow: auto;
}

.breadcrumb-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread1 {
    display: flex;
}