<div class="sign-up">
    <p>Username:</p>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="user name" aria-label="Recipient's username" aria-describedby="basic-addon2" [formControl]="email" required>
    </div>
    <p>Password:</p>
    <div class="input-group mb-3">
        <input type="passwor" class="form-control" placeholder="password" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    <p>Confirm password:</p>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="password" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>


    <div class="algin">
        <button mat-raised-button class="btnlogin">Sign up</button>
    </div>
</div>