<div>
    <app-side-bar-content (click)="navigate('main-page')">
        <mat-icon>folder</mat-icon>
        U-Space
    </app-side-bar-content>

    <!-- <div class="line"></div> -->
    <app-side-bar-content (click)="navigate('share-page')">
        <mat-icon>share</mat-icon>
        Share
    </app-side-bar-content>

    <!-- <div class="line"></div> -->
    <app-side-bar-content (click)="navigate('pin-page')">
        <mat-icon>push_pin</mat-icon>
        Pin
    </app-side-bar-content>

    <!-- <div class="line"></div> -->
    <app-side-bar-content (click)="navigate('recycle-page')">
        <mat-icon>delete</mat-icon>
        Recycle Bin
    </app-side-bar-content>
    <!-- <p>{{this.getSize()}}</p> -->
</div>

<!-- <div class="line"></div> -->