<div class="container">
  <div class="body">
      <div >
          <img class="image" src="../../../assets/starclone.svg" >
      </div>
      <div >
        <p role="heading">Bạn chưa gắn dấu sao cho tệp hoặc thư mục nào.</p>
        <p class="ab-S-Sg">Chuyển những tệp bạn không còn cần nữa vào
          <b>Thùng rác</b>. Nhấp "Dọn sạch thùng rác" từ menu Thùng rác để xóa vĩnh viễn các mục và có thêm không gian
          bộ nhớ.
          <span>Tìm hiểu thêm</span>
        </p>
      </div>
  </div>
</div>
