.title{
    color: rgba(0, 0,0, 0.54); 
    font-weight: 500;
    padding: 8px 0px 16px;
    margin: 0 0 0 22px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thumbnails-format{
    display: inline-block;
    flex-direction: row;   
    cursor: pointer;
    margin: 10px;
}

.folder-format{
    display: flex;
    flex-direction: row;   
    cursor: pointer;
}

.file-format{
    display: inline-block;
    flex-direction: row;   
    cursor: pointer;
}
