
<div>    
    <div style="width: 90%; margin-left: 5%;">
        <div mat-subheader class="title">
            <p>Quick access</p>
        </div>
        <div class="thumbnails-format" style="width: 100%;">
            <app-thumbnails-head *ngFor="let thumbnails of db_2" [thumbnails] = "thumbnails" ></app-thumbnails-head>  
        </div>
    </div>

    <div style="width: 90%; margin-left: 5%;">
        <div mat-subheader class="title">
            <p>Folder</p>
            <div style="display:flex; flex-direction:row ;">
                <p>Name</p>
                <mat-icon>arrow_upward</mat-icon>
            </div>
        </div>
        <div class="folder-format" style="width: 100%;">
            <app-file-format *ngFor="let folder of db" [folders]="folder" (contextmenu)="onContextMenu($event, folder)"></app-file-format>
        </div>
        <!----------------  -------------------->
        <div mat-subheader class="title">
            <p>File</p>
        </div>
        <div class="file-format">
            <app-thumbnails *ngFor="let file of db_1" [file]="file"></app-thumbnails>
        </div>
    
    </div>
</div>


<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
    <ng-template matMenuContent let-item="item">
        <div mat-menu-item [disableRipple]='true'>{{item.name}}</div>
        <!-- <div *ngFor=""> -->
        <button mat-menu-item (click)="onContextMenuAction(item)">Action 1</button>
    </ng-template>
</mat-menu>