<div class="container">
    <p>Folder</p>
    <div class="row">
        <div class="col" *ngIf="this.folders.length != 0">
            <app-folder *ngFor="let folder of this.folders" 
            [folders]=folder 
            (contextmenu)="onContextMenu($event, folder)"
            (click)="onFolderClick(folder)"></app-folder>
            <!-- <app-folder *ngFor="let item of this.folerService.folderBD" [name]="item.name"></app-folder> -->
        </div>
    </div>
    <p>File</p>

    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-sm-10 col-md-12">
            <app-thumbnail *ngFor="let item of this.files" [file]='item'></app-thumbnail>
            <!-- <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail> -->
        </div>
        <div class="col"></div>
    </div>
</div>
<button mat-button (click)='breadCrumbServices.requestPath("admin/okok")'>Fake Broows</button>


<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
    <ng-template matMenuContent let-item="item">
        <div mat-menu-item [disableRipple]='true'>{{item}}</div>
        <div mat-menu-item (click)='onDelete'><mat-icon>delete</mat-icon>Delete</div>
        
        <button mat-menu-item (click)="onContextMenuAction(item)">Action 1</button>
    </ng-template>
</mat-menu>