.example-card {
    max-width: 220px;
    min-height: 190px;
    
}

.example-form {
    max-width: 150px;
}

.example-full-width {
    width: 100%;
}

.grid{
    display: inline-flex;
    margin: 2%;
}