<div *ngIf="thumbnails != null" class="grid">
    <mat-card style="padding: 0;" style="overflow-y: hidden; overflow-x: hidden;">
        <img width="100%" [src]='this.pic' *ngIf="this.thumbnaileForShare == false">
        <img width="100%" appLazyloadthumbnail [fileLocation]='file' [src]='this.pic' *ngIf="this.thumbnaileForShare == true">
        <div class="file-content">
            <div class="file-name">
                <mat-icon mat-list-icon>{{thumbnails.icon}}</mat-icon>
                <span style="overflow:hidden;text-overflow:ellipsis">{{file}}</span>
            </div>
            <mat-list-item *ngIf="numberOfModify != null">
                Modify {{numberOfModify}} time
                <!-- <div mat-line></div> -->
            </mat-list-item>
            <div>{{thumbnails.createDate}} </div>
        </div>
    </mat-card>
</div>