<div class="container">
    <div class="row">
        <div class="col">
            <app-folder *ngFor="let item of this.folerService.folderBD" [name]="item.name"></app-folder>
        </div>
    </div>
    <div *ngIf="screenWidth>=768" class="row">
        <div class="col"></div>
        <div class="col-12 col-sm-10 col-md-12">
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
            <app-thumbnail></app-thumbnail>
        </div>
        <div class="col"></div>
    </div>
    <div *ngIf="screenWidth<768" class="row">
        <div class="col">
            <app-m-thumbnail></app-m-thumbnail>
            <app-m-thumbnail></app-m-thumbnail>
            <app-m-thumbnail></app-m-thumbnail>
        </div>
    </div>
</div>