<div>
    <div style="text-align: center;">
        <img class="image" src="../../../assets/starclone.svg">
    </div>
    <div style="text-align: center;font-size: 20px;">
        <p role="heading">Bạn chưa gắn dấu sao cho tệp hoặc thư mục nào.</p>
        <p class="ab-S-Sg"> Hãy đánh dấu những dữ liệu quan trọng để tiện lợi trong việc ghi nhớ
            <b>Nhấp ghim</b>. Giúp cho người dùng lưu trữ những dữ liệu quan trọng và tiện lợi nhanh chóng.
            <span>Tìm hiểu thêm</span>
        </p>
    </div>
</div>